<%= render "shared/header" %>

<main role="main">

  <div class="container">
      <h1>Listing Categories</h1>
      <div class="row">
        <div class="col-md-12 text-right">
          <%= link_to new_category_path, class: "btn btn-primary", autofocus: true do %>
            <i class="fas fa-plus"></i> New Category
          <% end %>
          <%= render 'shared/back_button', link: root_path %>
        </div>
      </div>

      <div class="row">
        <table class="table ">
          <thead>
          <tr>
              <th scope="col" class="border-top-0">Name</th>
              <th scope="col" class="border-top-0"></th>
            </tr>
          </thead>
          <tbody>
            <% if @categories.any? == false %>
              <tr><td>No Categories</td></tr>
            <% end %>
            <% @categories.each do |category| %>
              <tr>
                <td><%= link_to category.name, edit_category_path(category) %></td>
                <td class="text-right">
                    <%= link_to edit_category_path(category), title: "Edit record" do %>
                      <i class="fas fa-edit"></i>
                    <% end %>
                    <%= link_to category_path(category), title: "Show related products" do %>
                      <i class="fas fa-object-group"></i>
                    <% end %>
                    <%= link_to category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, title: "Delete record" do %>
                      <i class="fas fa-trash"></i>
                    <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>

      </div>
  </div>

</main>
